.wp-block-embed {
    &.wp-block-embed-twitter {
        .twitter-tweet {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &.wp-block-embed-wordpress-org {
        text-align: center;

        .wp-embedded-content {
            text-align: left;
        }
    }
}
