footer {
    padding: 3rem 0 2rem;
    color: #ffffff;
    background-color: $primary;

    a {
        color: #ffffff;

        &:hover,
        &:active {
            color: #ffffff;
        }
    }
}
