@use "sass:math";

@mixin title($position: 'left') {
    $comprimento: 9%;

    position: relative;
    padding-bottom: 0.75rem;
    margin-bottom: 2rem;

    &::after {
        position: absolute;
        bottom: 0;
        width: $comprimento;
        height: 2px;
        content: '';
        background: $primary;
    }

    @if $position == 'left' {
        text-align: left;

        &::after {
            left: 0;
        }
    } @else if $position == 'center' {
        text-align: center;

        &::after {
            right: (50% - math.div($comprimento, 2));
        }
    } @else if $position == 'right' {
        text-align: right;

        &::after {
            left: (50% - math.div($comprimento, 2));
        }
    }
}

@mixin seta($cor: #ffffff) {
    position: relative;

    &::after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -15px;
        pointer-events: none;
        content: '';
        border: solid transparent;
        border-color: rgb(136 183 213 / 0%);
        border-width: 15px;
        border-bottom-color: $cor;
    }
}
