@use "sass:math";

@mixin title($position: 'left') {
    $comprimento: 9%;

    margin-bottom: 2rem;
    padding-bottom: 0.75rem;
    position: relative;

    &::after {
        background: $primary;
        content: '';
        position: absolute;
        height: 2px;
        width: $comprimento;
        bottom: 0;
    }

    @if $position == 'left' {
        text-align: left;

        &::after {
            left: 0;
        }
    } @else if $position == 'center' {
        text-align: center;

        &::after {
            right: (50% - math.div($comprimento, 2));
        }
    } @else if $position == 'right' {
        text-align: right;

        &::after {
            left: (50% - math.div($comprimento, 2));
        }
    }
}

@mixin seta($cor: #ffffff) {
    position: relative;

    &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: $cor;
        border-width: 15px;
        margin-left: -15px;
    }
}
