.aside {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
    background-color: $gray-100;

    &__title {
        @include title('center');

        font-size: 2rem;
        color: $gray-600;
        text-transform: uppercase;
    }

    &__btn {
        @include button-variant(transparent, $gray-400, $gray-600, $primary, $primary);

        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
