.barra-acessibilidade {
    border-bottom: 1px solid $gray-100;
    display: flex;
    justify-content: flex-end;
    font-size: 0.7rem;
    padding: 0.6rem 0;

    &__menu {
        list-style: none;
        margin-bottom: 0;
        margin-right: 3rem;
        padding: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item {
        display: inline-block;
        margin-right: 0.5rem;

        a {
            color: $gray-600;
        }
    }
}
