.barra-acessibilidade {
    position: absolute;
    right: 0;
    display: inline-flex;
    justify-content: flex-end;
    font-size: 0.875rem;

    &__menu {
        padding: 0;
        margin-right: 2rem;
        margin-bottom: 0;
        list-style: none;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }

        a {
            color: $white;
        }
    }
}
