.contato {
    @include seta;

    padding: 3rem 0;

    &__title {
        margin-bottom: 2rem;
        font-size: 2.5rem;

        span {
            font-weight: bolder;
            color: $primary;
        }
    }

    &__faq-link {
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        line-height: 1.2;
        color: $detalhe;
    }
}
