.contato {
    padding: 50px 0;
    position: relative;

    &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #ffffff;
        border-width: 15px;
        margin-left: -15px;
    }

    &__title {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    &__title-destaque {
        color: $cor-destaque;
        font-weight: bolder;
    }

    &__faq-link {
        color: $cor-detalhe;
        display: inline-block;
        margin-bottom: 15px;
        padding-left: 37px;
        position: relative;

        &:hover {
            text-decoration: none;
        }
    }

    &__faq-img {
        margin-right: 7px;
        width: 30px;
        height: auto;
        position: absolute;
        left: 0;
        top: calc(50% - 14px);
    }

    &__widget {
        .screen-reader-response {
            @extend .sr-only;
        }

        .wpcf7-form {
            margin-bottom: 10px;
        }

        .wpcf7-form-control {
            @extend .form-control;

            margin-bottom: 5px;
        }

        .wpcf7-not-valid {
            @extend .is-invalid;
        }

        .wpcf7-not-valid-tip {
            @extend small;
            @extend .form-text;
            @extend .text-danger;

            margin-bottom: 10px;
        }

        .wpcf7-submit {
            @include button-outline-variant($cor-destaque);

            float: right;
            margin-bottom: 10px;
            margin-top: 5px;
            width: auto;

        }

        .wpcf7-response-output {
            @extend .alert;

            clear: both;
            margin: 0;
        }

        .wpcf7-validation-errors {
            @extend .alert-warning;
        }

        .wpcf7-mail-sent-ok {
            @extend .alert-success;
        }
    }

    &__btn {
        @include button-variant(#ffffff, $cor-destaque, $cor-destaque);

        color: $cor-destaque;
        text-transform: uppercase;
    }
}
