.creditos {
    font-size: 0.75rem;
    margin-top: 30px;
    text-align: center;

    >a {
        margin-right: 20px;
        opacity: 0.8;

        &:last-child {
            margin-right: 0;
        }
    }
}
