.creditos {
    font-size: 0.75rem;
    margin-top: 2rem;
    text-align: center;

    > a {
        margin-right: 1.5rem;
        opacity: 0.8;

        &:last-child {
            margin-right: 0;
        }
    }
}
