.curso {
    &__title {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0; left: 0;
            display: block;
            width: 100px; height: 2px;
            background-color: $cor-destaque;
        }
    }

    &__meta {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 2rem 1rem;
        grid-auto-flow: row;
        justify-content: stretch;
        align-content: stretch;
        justify-items: stretch;
        align-items: flex-start;
        width: 100%;
        height: 100%;

        @include media-breakpoint-up(sm) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    &__separator {
        background: none;
        border-top: 2px dotted currentColor;
        margin: 2rem 0;
        width: 100%;
    }

    &__content {
        margin-bottom: 1rem;

        h3 {
            font-size: 1.25rem;
            font-weight: bold;
        }
    }

    &__arquivos {
        @extend %destaque;
    }
}

.curso-info {
    $icon-position: 'left';
    $icon-size: 2rem;
    $icon-color: $gray-600;

    &--modalidade {
        @include icon('people', $icon-position, $icon-size, $icon-color);
    }

    &--unidade {
        @include icon('pin', $icon-position, $icon-size, $icon-color);
    }

    &--nivel {
        @include icon('graduation', $icon-position, $icon-size, $icon-color);
    }

    &--turno {
        @include icon('sun', $icon-position, $icon-size, $icon-color);
    }

    &--cargahoraria {
        @include icon('clock', $icon-position, 1.75rem, $icon-color);
    }

    &--nota {
        @include icon('star', $icon-position, $icon-size, $icon-color);
    }

    &__title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0;
    }

    &__text {
        margin-bottom: 0;
    }
}

.curso-coordenador {
    @include icon('mail', 'left', 3rem, $gray-600);

    align-self: stretch;
    background-color: $gray-200;
    background-position: 1rem center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / 1;
    grid-row: span 1 / -1;
    padding: 0.5rem 1rem 0.5rem 4.5rem;

    @include media-breakpoint-up(sm) {
        grid-column: span 1 / -1;
        grid-row: 1 / span 2;
    }

    @include media-breakpoint-up(md) {
        grid-column: span 1 / -1;
        grid-row: 1 / span 2;
    }

    @include media-breakpoint-up(lg) {
        grid-column: span 1 / -1;
        grid-row: 1 / -1;
    }

    &__title {
        color: $primary;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0;
    }

    &__nome {
        margin-bottom: 0;
    }

    &__email {
        margin-bottom: 0;
    }

    &__nome,
    &__email {
        a {
            color: $body-color;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.curso-arquivos {
    &__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0; left: 0;
            display: block;
            width: 100%; height: auto;
            border-top: 2px dotted $gray-600;
        }
    }

    &__list {
        list-style: none;
        padding: 0;

        li {
            @include icon('file', 'left', 1rem, $gray-600);
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            a {
                font-weight: 600;
            }
        }
    }
}
