.curso {
    &__title {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0; left: 0;
            display: block;
            width: 100px; height: 2px;
            background-color: $cor-destaque;
        }
    }

    &__meta {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 2rem 1rem;
        grid-auto-flow: row;
        justify-content: stretch;
        align-content: stretch;
        justify-items: stretch;
        align-items: flex-start;
        width: 100%;
        height: 100%;

        @include media-breakpoint-up(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__separator {
        background: none;
        border-top: 2px dotted currentColor;
        margin: 2rem 0;
        width: 100%;
    }

    &__content {
        margin-bottom: 1rem;

        h3 {
            font-size: 1.25rem;
            font-weight: bold;
        }
    }

    &__thumb {
        @include media-breakpoint-up(sm) {
            float: left;
            max-width: 40%;
        }

        @include media-breakpoint-up(md) {
            float: left;
            max-width: 30%;
        }
    }
}

.curso-info {
    $icon-position: 'left';
    $icon-size: 2rem;
    $icon-color: $gray-600;

    &--modalidade {
        @include icon('people', $icon-position, $icon-size, $icon-color);
    }

    &--unidade {
        @include icon('pin', $icon-position, $icon-size, $icon-color);
    }

    &--nivel {
        @include icon('graduation', $icon-position, $icon-size, $icon-color);
    }

    &--turnos {
        @include icon('sun', $icon-position, $icon-size, $icon-color);
        grid-column: 1 / -1;
    }

    &--cargahoraria {
        @include icon('clock', $icon-position, 1.75rem, $icon-color);
    }

    &--nota {
        @include icon('star', $icon-position, $icon-size, $icon-color);
    }

    &__title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0;
    }

    &__text {
        margin-bottom: 0;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
            display: inline;

            &:not(:last-child)::after {
                content: ', ';
            }
        }
    }
}
