.curso {
    @include clearfix;

    &__title {
        position: relative;
        padding-bottom: 1rem;
        margin-bottom: 2rem;

        &::after {
            position: absolute;
            bottom: 0; left: 0;
            display: block;
            width: 100px; height: 2px;
            content: '';
            background-color: $primary;
        }
    }

    &__meta {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-auto-flow: row;
        gap: 2rem 1rem;
        place-content: stretch stretch;
        place-items: flex-start stretch;
        width: 100%;
        height: 100%;

        @include media-breakpoint-up(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__separator {
        width: 100%;
        margin: 2rem 0;
        background: none;
        border-top: 2px dotted currentcolor;
    }

    &__content {
        margin-bottom: 1rem;

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    &__thumb {
        margin-bottom: 0.5rem;

        @include media-breakpoint-up(sm) {
            float: left;
            max-width: 40%;
            margin-right: 0.5rem;
        }

        @include media-breakpoint-up(md) {
            max-width: 35%;
        }

        @include media-breakpoint-up(lg) {
            max-width: 25%;
        }

        @include media-breakpoint-up(xl) {
            max-width: 20%;
        }
    }
}

.curso-info {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;
    min-height: 2rem;

    [data-fa-i2svg] {
        font-size: 1.5rem;
        color: $gray-600;
    }

    &--turnos {
        grid-column: 1 / -1;
    }

    &__title {
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: bold;
    }

    &__text {
        margin-bottom: 0;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;

        > li {
            display: inline;
            margin-right: 0.2rem;

            &:not(:last-child)::after {
                content: '; ';
            }
        }
    }
}
