.duvidas {
    background-color: $cor-detalhe;
    color: #ffffff;
    margin-top: 35px;
    padding: 20px 0;
    position: relative;

    &__link {
        color: #ffffff;
        display: inline-block;
        font-size: 1.5rem;
        padding-left: 50px;
        position: relative;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }

        &:hover,
        &:active {
            color: #ffffff;
        }

        &:before {
            background: url('../img/duvidas-icon.png') no-repeat center center;
            content: '';
            height: 38px;
            width: 41px;
            position: absolute;
            left: 0;
        }
    }

    &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: $cor-detalhe;
        border-width: 15px;
        margin-left: -15px;
    }
}
