.faq {
    &__title {
        @include title();
    }

    &__item-title {
        font-size: 1.2rem;

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__item-content {
        .accordion-body {
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}
