.filter {
    &--simple {
        button[data-bs-toggle="collapse"] {
            @include icon('chevron-down', 'right', 22px, $primary);
        }
    }

    &--advanced {
        background-color: #ffffff;
        border-radius: $border-radius * 2;
        overflow: hidden;
        padding: 1rem;

        legend {
            border-bottom: 2px solid $gray-200;
            margin-bottom: 1rem;
        }

        button[data-bs-toggle="collapse"] {
            @include icon('chevron-up', 'right', 22px, $primary);
        }
    }

    &__options {
        font-size: 0.9rem;

        @include media-breakpoint-up(lg) {
            max-height: 30vh;
            overflow-y: auto;
            overflow-scrolling: touch;

            background:
                /* Shadow Cover TOP */
                linear-gradient(
                white 30%,
                rgba(255, 255, 255, 0)
                ) center top,

                /* Shadow Cover BOTTOM */
                linear-gradient(
                rgba(255, 255, 255, 0),
                white 70%
                ) center bottom,

                /* Shadow TOP */
                radial-gradient(
                farthest-side at 50% 0,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0)
                ) center top,

                /* Shadow BOTTOM */
                radial-gradient(
                farthest-side at 50% 100%,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0)
                ) center bottom;

            background-repeat: no-repeat;
            background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
            background-attachment: local, local, scroll, scroll;
        }
    }

    &__help {
        @include icon('help', 'center', 16px, $cor-destaque);

        cursor: help !important;
        color: $cor-destaque;
        font-weight: bold;
        padding: 0;
        width: 16px; height: 16px;
    }

    &__separator {
        background: none;
        border-bottom: 1px dashed $gray-800;
    }
}
