.filter {
    &__advanced {
        margin-top: 0.5rem;

        &:has(.collapse.show) {
            button[data-bs-toggle="collapse"] {
                &::before {
                    content: 'Ocultar ';
                }
            }
        }

        &:has(.collapse, .collapsing) {
            button[data-bs-toggle="collapse"] {
                &::before {
                    content: '';
                }
            }
        }

        legend {
            margin-bottom: 1rem;
            border-bottom: 2px solid $gray-200;
        }

        .collapse,
        .collapsing {
            padding: calc($grid-gutter-width / 2);
            background-color: #ffffff;
            border-radius: $input-border-radius-lg;
        }
    }

    &__search-input {
        padding-inline-start: calc($input-padding-x + 1.5rem);
        background-image: url(escape-svg("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#{$primary}'%3E%3Cpath d='M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z'%3E%3C/path%3E%3C/svg%3E"));
        background-repeat: no-repeat;
        background-position: $input-padding-x center;
        background-size: 1em;
    }

    &__options {
        font-size: 0.9rem;

        @include media-breakpoint-up(lg) {
            max-height: 30vh;
            overflow-y: auto;
            background:
                /* Shadow Cover TOP */
                linear-gradient(
                white 30%,
                rgb(255 255 255 / 0%)
                ) center top,

                /* Shadow Cover BOTTOM */
                linear-gradient(
                rgb(255 255 255 / 0%),
                white 70%
                ) center bottom,

                /* Shadow TOP */
                radial-gradient(
                farthest-side at 50% 0,
                rgb(0 0 0 / 20%),
                rgb(0 0 0 / 0%)
                ) center top,

                /* Shadow BOTTOM */
                radial-gradient(
                farthest-side at 50% 100%,
                rgb(0 0 0 / 20%),
                rgb(0 0 0 / 0%)
                ) center bottom;
            background-repeat: no-repeat;
            background-attachment: local, local, scroll, scroll;
            background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
            overflow-scrolling: touch;
        }
    }

    &__actions {
        display: inline-flex;
        flex-flow: row wrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    &__help {
        color: $primary;
        cursor: help !important;
    }
}
