.filter-unidade {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M-1-1h26v26H-1z'/%3E%3Cg%3E%3Cpath fill='%23666666' d='M.75.75h9v9h-9zM14.25.75h9v9h-9zM14.25 14.25h9v9h-9z'/%3E%3C/g%3E%3C/svg%3E") no-repeat right center;
    background-size: 1rem;
    border-bottom: 1px solid #dedede;
    margin-bottom: 2rem;
    padding-right: 1.2rem;

    &__form {
        font-size: 0.9rem;

        select {
            appearance: none;
            background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%232c8c35' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' class='feather feather-chevron-down'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E") no-repeat right center;
            background-size: 20px;
            border: none;
            color: $cor-destaque;

            /* CAUTION: Internet Explorer hackery ahead */
            &::-ms-expand {
                display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
            }

            /* Target Internet Explorer 9 to undo the custom arrow */
            @media screen and (min-width:0\0) {
                background: none\9;
                padding: 5px\9;
            }
        }

        button[type=submit] {
            color: $cor-destaque;

            > svg {
                vertical-align: text-bottom;
            }
        }
    }
}
