.filter {
    &__advanced {
        margin-top: 0.5rem;

        &:has(.collapse.show) {
            button[data-bs-toggle="collapse"] {
                @include icon('chevron-up', 'right', 22px, $primary);
                &::before {
                    content: 'Ocultar ';
                }
            }
        }

        &:has(.collapse, .collapsing) {
            button[data-bs-toggle="collapse"] {
                @include icon('chevron-down', 'right', 22px, $primary);
                &::before {
                    content: '';
                }
            }
        }

        legend {
            border-bottom: 2px solid $gray-200;
            margin-bottom: 1rem;
        }

        .collapse,
        .collapsing {
            background-color: #ffffff;
            padding: calc($grid-gutter-width / 2) 0;
        }
    }

    &__options {
        font-size: 0.9rem;

        @include media-breakpoint-up(lg) {
            max-height: 30vh;
            overflow-y: auto;
            overflow-scrolling: touch;

            background:
                /* Shadow Cover TOP */
                linear-gradient(
                white 30%,
                rgba(255, 255, 255, 0)
                ) center top,

                /* Shadow Cover BOTTOM */
                linear-gradient(
                rgba(255, 255, 255, 0),
                white 70%
                ) center bottom,

                /* Shadow TOP */
                radial-gradient(
                farthest-side at 50% 0,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0)
                ) center top,

                /* Shadow BOTTOM */
                radial-gradient(
                farthest-side at 50% 100%,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0)
                ) center bottom;

            background-repeat: no-repeat;
            background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
            background-attachment: local, local, scroll, scroll;
        }
    }

    &__actions {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &__help {
        @include icon('help', 'center', 16px, $primary);

        cursor: help !important;
        color: $primary;
        font-weight: bold;
        padding: 0;
        width: 16px; height: 16px;
    }
}
