.footer {
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid $detalhe;

    &__widget {
        font-size: 0.9rem;

        a {
            font-weight: bold;
        }
    }

    &__widget-title {
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffffff;
    }
}
