.front-page {
    margin-bottom: 2rem;

    &__text {
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__banner {
        display: block;
    }
}
