.hero {
    &__title {
        @include title('center');

        color: $gray-600;
        text-transform: uppercase;

        span {
            color: $primary;
            font-weight: bold;
        }

        small {
            font-size: 0.75em;
            text-transform: initial;
        }
    }

    &__text {
        text-align: center;
    }
}
