.oportunidade {
    $root: &;

    display: flex;
    flex-basis: calc(1/4 * 100% - (1 - 1/4) * 30px);
    flex-flow: column nowrap;
    padding: 5px 10px 15px;
    margin: 0 10px 30px;
    font-size: 0.9rem;
    background-color: #ffffff;
    border-top: 5px solid $primary;
    border-radius: $border-radius;
    box-shadow: $box-shadow-sm;

    @supports (display: grid) {
        margin: 0;
    }

    &__header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        padding: 0 0 5px;
        margin: 0 -10px;
        border-bottom: 1px solid $gray-400;
    }

    &__numero-cursos {
        flex: 0 1 auto;
        margin: 0;
        font-size: 0.8rem;
        font-weight: bold;
        color: $body-color;
        pointer-events: none;
        cursor: default;
    }

    &__btn-toggle {
        flex: 0 0 auto;
        padding: 7px 8px;
        margin-right: 0.5rem;
        margin-left: auto;
        background-color: $gray-100;

        &:hover {
            background-color: $gray-200;
        }
    }

    &__title {
        margin: 0.6rem 0;
        font-size: 1.5rem;
    }

    &__meta {
        margin: 0;

        &:last-of-type {
            margin-bottom: 10px;
        }

        &--taxa,
        &--isencao,
        &--inscricao {
            [data-fa-i2svg] {
                display: none;
            }
        }
    }

    &__separador {
        display: none;
        width: 100%;
        background: none;
        border-top: 1px dashed currentcolor;
    }

    &__requisitos {
        display: none;

        p:last-child {
            margin-bottom: 0;
        }
    }

    &__unidades {
        display: none;
    }

    &__campi-list {
        padding: 0;
        margin-bottom: 2rem;
        list-style-position: inside;
        list-style-type: square;
        column-count: 2;

        li {
            &::marker {
                color: $gray-600;
            }
        }
    }

    &__info-link {
        display: block;
        align-self: flex-start;
        margin-top: auto;
        font-size: 0.9rem;
    }

    &--open {
        flex-basis: calc(1/2 * 100% - (1 - 1/2) * 30px);
        padding: 20px;
        font-size: 1rem;
        // background: #f3f3f3;
        border: none;
        box-shadow: $box-shadow;

        #{$root}__header {
            margin: 0;
            border: none;
        }

        #{$root}__numero-cursos {
            padding-left: 0;
            font-size: 1rem;
            color: $link-color;
            pointer-events: all;
        }

        #{$root}__btn-toggle {
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }
        }

        #{$root}__title {
            position: relative;
            padding-bottom: 0.75rem;
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 2rem;

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 40%;
                height: 5px;
                content: '';
                background-color: $gray-400;

                @supports(--css: variables) {
                    background-color: var(--oportunidade-color);
                }
            }
        }

        #{$root}__meta {
            display: inline-flex;
            gap: 0.5rem;
            align-items: center;
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }

            [data-fa-i2svg] {
                flex-basis: 16px;
            }

            &--taxa,
            &--isencao,
            &--inscricao {
                [data-fa-i2svg] {
                    display: inline-block;
                }
            }
        }

        #{$root}__separador {
            display: block;
        }

        #{$root}__subtitle {
            font-size: 1.2rem;
            font-weight: bold;

            [data-fa-i2svg] {
                font-size: 1.1rem;
            }
        }

        #{$root}__requisitos {
            display: block;
        }

        #{$root}__unidades {
            display: block;
        }

        #{$root}__info-link {
            display: block;
            width: 100%;
            padding: 20px;
            font-size: 1.2rem;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            background-color: $primary;
            background-image: none;

            &:hover,
            &:active {
                text-decoration: none;
                background-color: shade-color($primary, 10%);
            }

            [data-fa-i2svg] {
                display: none;
            }
        }
    }

    &--single {
        margin-bottom: 3rem;
    }
}
