.oportunidade {
    $root: &;

    background-color: #ffffff;
    border-bottom: 1px solid $gray-400;
    border-top: 5px solid $gray-400;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 0.9rem;
    margin: 0 10px 30px 10px;
    padding: 5px 10px 15px 10px;
    flex-basis: calc(1/4 * 100% - (1 - 1/4) * 30px);

    @supports (display: grid) {
        margin: 0;
    }

    &__header {
        align-items: center;
        border-bottom: 1px solid $gray-400;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 -10px;
        padding: 0 0 5px 10px;
    }

    &__forma {
        flex: 1 1 auto;
        font-weight: bold;
        margin: 0;
    }

    &__btn-toggle {
        flex: 0 0 auto;
        line-height: 1;
        padding: 7px 8px;

        svg {
            width: 1rem;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    &__meta {
        margin: 0;

        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    &__separador {
        border-top-style: dashed;
        display: none;
        width: 100%;
    }

    &__requisitos {
        display: none;

        p:last-child {
            margin-bottom: 0;
        }
    }

    &__unidades {
        display: none;
    }

    &__campi-list {
        column-count: 2;
        list-style: none;
        padding: 0;
    }

    &__info-link {
        align-self: flex-start;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAUElEQVQ4je3RsQ3AIBBDUUa4EX9jr5VsBBuRJpEiSqCIovuS29e4lOwJCEkHELuwartLqssoELab7Z7oR9H36/faNJjYXMOra9iAnluwf3cBCWmFF8lvJBwAAAAASUVORK5CYII=') no-repeat left center;
        background-size: 15px;
        display: block;
        font-size: 0.9rem;
        margin-top: auto;
        padding-left: 1rem;
    }

    &--diplomado {
        border-top-color: $cor-diplomado;
        #{$root}__btn-toggle {
            color: $cor-diplomado;
        }
    }

    &--ead {
        border-top-color: $cor-ead;
        #{$root}__btn-toggle {
            color: $cor-ead;
        }
    }

    &--eja {
        border-top-color: $cor-eja;
        #{$root}__btn-toggle {
            color: $cor-eja;
        }
    }

    &--extensao {
        border-top-color: $cor-extensao;
        #{$root}__btn-toggle {
            color: $cor-extensao;
        }
    }

    &--internacional {
        border-top-color: $cor-internacional;
        #{$root}__btn-toggle {
            color: $cor-internacional;
        }
    }

    &--pos {
        border-top-color: $cor-pos;
        #{$root}__btn-toggle {
            color: $cor-pos;
        }
    }

    &--ps {
        border-top-color: $cor-ps;
        #{$root}__btn-toggle {
            color: $cor-ps;
        }
    }

    &--transfer {
        border-top-color: $cor-transfer;
        #{$root}__btn-toggle {
            color: $cor-transfer;
        }
    }

    &--open {
        background: #f3f3f3;
        border: none;
        flex-basis: calc(1/2 * 100% - (1 - 1/2) * 30px);
        font-size: 1rem;
        padding: 20px;

        #{$root}__header {
            border: none;
            margin: 0;
            padding: 0;
        }

        #{$root}__btn-toggle {
            svg {
                transform: rotate(45deg);
                width: 2rem;
            }
        }

        #{$root}__title {
            font-size: 2rem;
            margin-top: 0;
            padding-bottom: 10px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 5px;
                width: 40%;
            }
        }

        #{$root}__meta {
            &--isencao {
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAQlBMVEUAAABgYGBoaGhlZWVlZWVlZWVmZmZmZmZmZmZmZmZlZWVlZWVmZmZmZmZlZWVlZWVlZWVlZWVmZmZmZmZlZWVmZmZfIqhmAAAAFXRSTlMAECAwYG9wf4CPkJ+gr7C/wM/Q3+BTajzOAAAAlklEQVQYlV2R3RrDEBBED1IVbYTEvP+r9gKJZm6W883+WDBkDA/57ZTO7TUhV6QcY5aKG2yRQjsFaek+HQ4IAXCHmrfHnJujAPie2yBBHkhihigBNf/DfIJRHBcLQJS5YZA+tsMrHfuVLOQ6NQKsH43GSIwqfhr+el6P9xpcGY5Fej8XAu6Q9nXd1VYz5FOVavI8NH3HD5C5B98l1LmDAAAAAElFTkSuQmCC') no-repeat left center;
                padding-left: 25px;
            }

            &--gratis {
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAANlBMVEUAAABgYGBoaGhlZWVmZmZmZmZmZmZlZWVlZWVmZmZlZWVlZWVlZWVmZmZlZWVlZWVmZmZmZmb5QnP/AAAAEXRSTlMAECBvcH+PkJ+gsL/A0O/w8A5YjJ0AAABrSURBVBjTnZBLDoAgDERpRREZC3P/y5oQFZO6MM7yJe18Qri0bcEL+AJlWotZKWV+MOOpfcDEpO4cFP8T9mKUOXmopHX3VZ80A7WikerDR+aXRg0eCj3UhWmsdrVkkxtGoLvnKL/27F1HxANJiwVMQLBahwAAAABJRU5ErkJggg==') no-repeat left center;
                padding-left: 25px;
            }

            &--inscricao {
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAP1BMVEUAAABgYGBoaGhlZWVkZGRhYWFmZmZlZWViYmJmZmZmZmZlZWVlZWVkZGRmZmZlZWVlZWVlZWVmZmZlZWVmZmbC6T/YAAAAE3RSTlMAECAwQExQb3Bwf5CfoKC/wM/fkehoXgAAAHxJREFUGFe9j0sOgzAMBcfwgJCGb979z9oFbRUqddvZWB7JlgYAiNu46DwDzO7eJqZcvOWc8+aSpwCI065+Ue0zAPmh5EWSFietFiCL2AUw7oE+suFaB5fcUDwAyV8kQDWpIdWfP/8ox1aOFtD7aIsO9wDrPWi9LqItCuAJIWIJsBB8ABoAAAAASUVORK5CYII=') no-repeat left center;
                padding-left: 25px;
            }
        }

        #{$root}__separador {
            display: block;
        }

        #{$root}__subtitle {
            font-size: 1.2rem;
            font-weight: bold;
        }

        #{$root}__requisitos {
            display: block;
        }

        #{$root}__unidades {
            display: block;
        }

        #{$root}__info-link {
            background: $cor-destaque;
            color: #ffffff;
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 20px;
            text-align: center;
            width: 100%;

            &:hover,
            &:active {
                background-image: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
                text-decoration: none;
            }
        }

        &#{$root}--diplomado {
            #{$root}__title {
                &::after {
                    background-color: $cor-diplomado;
                }
            }
            #{$root}__info-link {
                background-color: $cor-diplomado;
            }
        }

        &#{$root}--ead {
            #{$root}__title {
                &::after {
                    background-color: $cor-ead;
                }
            }
            #{$root}__info-link {
                background-color: $cor-ead;
            }
        }

        &#{$root}--eja {
            #{$root}__title {
                &::after {
                    background-color: $cor-eja;
                }
            }
            #{$root}__info-link {
                background-color: $cor-eja;
            }
        }

        &#{$root}--extensao {
            #{$root}__title {
                &::after {
                    background-color: $cor-extensao;
                }
            }
            #{$root}__info-link {
                background-color: $cor-extensao;
            }
        }

        &#{$root}--internacional {
            #{$root}__title {
                &::after {
                    background-color: $cor-internacional;
                }
            }
            #{$root}__info-link {
                background-color: $cor-internacional;
            }
        }

        &#{$root}--pos {
            #{$root}__title {
                &::after {
                    background-color: $cor-pos;
                }
            }
            #{$root}__info-link {
                background-color: $cor-pos;
            }
        }

        &#{$root}--ps {
            #{$root}__title {
                &::after {
                    background-color: $cor-destaque;
                }
            }
            #{$root}__info-link {
                background-color: $cor-destaque;
            }
        }

        &#{$root}--transfer {
            #{$root}__title {
                &::after {
                    background-color: $cor-transfer;
                }
            }
            #{$root}__info-link {
                background-color: $cor-transfer;
            }
        }
    }
}
