@use "sass:selector";

.post {
    &__title {
        @include title();
    }

    &__content {
        @for $i from 2 through 6 {
            h#{$i} {
                margin-top: 1.5em;
                margin-bottom: $paragraph-margin-bottom;
            }

            @for $j from $i through 6 {
                h#{$i} + h#{$j} {
                    margin-top: 0;
                }
            }
        }
    }
}
