.site-map {
    &__menu {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;

        @include media-breakpoint-only(xs) {
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
        }

        > li {
            display: block;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            font-weight: bold;

            @include media-breakpoint-up(sm) {
                margin-right: 2rem;
            }
        }

        a {
            color: #ffffff;
        }

        .sub-menu {
            list-style: none;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            padding: 0;

            > li {
                font-size: 0.9rem;
                font-weight: normal;
                text-transform: none;
            }
        }
    }
}
