.social {
    @include seta($detalhe);

    padding: 1rem 0;
    color: #ffffff;
    background-color: $detalhe;

    &__text {
        font-size: 1.5rem;

        @include media-breakpoint-down(md) {
            font-size: 1.3rem;
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
            text-align: center;
        }
    }
}
